---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="relative">
    <nav class="fixed top-0 inset-x-0 h-16 bg-gray-200 flex items-center px-10">
      <a
        href="#"
        id="navbar-title"
        class="text-gray-200 font-extrabold text-xl"
      >
        <span>HELLO</span>
      </a>
    </nav>

    <section class="min-h-screen w-screen flex justify-center items-center">
      <h1
        id="title"
        class="text-9xl font-extrabold transition-all duration-500"
      >
        HELLO
      </h1>
    </section>
    <section class="min-h-screen w-screen flex justify-center items-center">
    </section>
  </main>
</Layout>

<script>
  const source = document.getElementById("title");
  const sourceX = source.getBoundingClientRect().left + window.scrollX;
  const sourceY = source.getBoundingClientRect().top + window.scrollY;

  const destination = document.querySelector("#navbar-title");
  const destinationX =
    destination.getBoundingClientRect().left + window.scrollX;
  const destinationY = destination.getBoundingClientRect().top + window.scrollY;

  let animated = false;
  window.addEventListener("scroll", () => {
    if (animated) return;
    animated = true;
    source.classList.add("absolute");
    source.style.left = `${sourceX}px`;
    source.style.top = `${sourceY}px`;

    setTimeout(() => {
      source.style.left = `${destinationX}px`;
      source.style.top = `${destinationY}px`;
      source.classList.remove("text-9xl");
      source.classList.add("text-xl");
    }, 100);

    setTimeout(() => {
      destination.classList.toggle("text-gray-200");
      source.classList.add("hidden");
    }, 1000);
  });
</script>
